@import url('https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

  /*  #368AFF 
  
  
  To do:

  - Responsive in hero section from min. 
  -Responsive the text

  notes: for text
  12px for body in mobile
  16px for captions
  21px for body 
  34px for header

  */
/* ----------------------------------------- universal */
*,*::after,*::before{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Barlow', sans-serif;
    color: #1e1e1e;
}
/* icons */
.material-symbols-outlined {
    font-variation-settings:
    'FILL' 0,
    'wght' 300,
    'GRAD' 0,
    'opsz' 40
  }

/* ------------------------------------------- buttons */
 #btn-blue{
    height: 35px;
    width: fit-content;
    background-color: #368aff;
    padding: 6px 10px;
    border-radius: 30px;
    color: #fff;
    font-size: 12px;
    margin-top: 8px;
}
#btn-yellow{
    height: 30px;
    width: 100px;
    background-color: #FFDE59;
    padding: 6px 10px;
    border-radius: 30px;
    color: #1e1e1e;
    font-size: 12px;
}

/* ---------------------------------------------- text */
.title{
    font-size: 32px;
    color: #1e1e1e;
}
.title-white{
    font-size: 32px;
    color: #fff;
}
/* call to action */
.intro-text{
    width: 250px;
    font-size: 28px;
    color: #fff;
}
.text-yellow{
    font-size: 28px;
    color: #FFDE59;
}
.paragraph-body{
    /* border: 2px solid #368aff; */

    font-family: 'Barlow Semi Condensed', sans-serif;    
    font-size: 16px;
    color: #1e1e1e;
}
    @media screen and (min-width:996px) {
        .title{
            font-size: 40px;
            color: #1e1e1e;
        }
        .intro-text{
            width: 400px;
            font-size: 42px;
            color: #fff;
        }
        .text-yellow{
            font-size: 42px;
            color: #FFDE59;
        }
        .title-white{
            font-size: 40px;
            color: #fff;
        }

        .paragraph-body{
            /* border: 2px solid #368aff; */

            font-family: 'Barlow Semi Condensed', sans-serif;    
            font-size: 18px;
            color: #1e1e1e;
        } 
        #btn-blue{
            height: 40px;
            width: 150px;
            background-color: #368aff;
            padding: 8px 20px;
            border-radius: 30px;
            color: #fff;
            font-size: 16px;
            margin-top: 0;

        }
        #btn-yellow{
            height: 40px;
            width: 150px;
            background-color: #FFDE59;
            padding: 8px 20px;
            border-radius: 30px;
            color: #1e1e1e;
            font-size: 16px;
        }

    }

/* -------------------------------------------- navbar */
.nav-item .nav-link{
    font-size: 18px;
    font-weight: 500;
    color: #1e1e1e;
    font-family: 'Barlow Semi Condensed', sans-serif;    

    margin-left: 50px;
}
#navbar{
    border: 2px solid red;

    background-color:#fff;
    color: #1e1e1e;
    height: 120px;
    overflow: hidden;
}
    #img-logo{
        width: auto;
        height: 160px;
        object-fit: cover;
        object-position: center;
    }
    #nav-container{
        padding: 0 10px 0 10px;
    }
        #navbarContent{
            width: 280px;
        }

    @media screen and (max-width:768px) {
        .navbar .navbar-toggler{
            /* border: 2px solid #368aff; */
            margin-top: -3%;
        }
        #img-logo{
            width: 100%;
            height: 130px;
            margin-top: -10%;
            padding: 0 12px 0 12px;
        }
        .nav-item .nav-link{
            font-size: 16px;
            font-weight: 500;
            color: #1e1e1e;
            font-family: 'Barlow Semi Condensed', sans-serif;    
        
            margin-left: 10px;
        }
    }


/* ---------------------------------- hero section */
.heroWrapper{
    /* border: 2px solid red; */
    position: relative;
    overflow: hidden;
}

    .title-text-wrap{
        /* border: 2px solid red; */
        padding-inline: 2rem;
        position: absolute;
        left: 0;
        right: 0;
        top: 40%;
    }
        .hero-title{
            /* border: 2px solid red; */
            width: auto;
            font-size: 16px;
            color: #fff;
            text-shadow: 1px 1px 2px #000000;
            font-size: max(1rem,5vh,3rem);
            line-height: 1;
        }
        .hero-text-white{
            color: #fff;
            margin-top: 3px;
        }
        .buttons{
            /* border: 2px solid greenyellow; */
            height: 40px;
            width: 150px;
            background-color: #368aff;
            padding: 4px 20px;
            border-radius: 30px;
        }
        .buttons a{
            text-decoration: none;
        }

    @media screen and (min-width:996px) {
        .title-text-wrap{
            padding-inline: 5rem;
            position: absolute;
            left: 0;
            right: 0;
            top: 40%;
        }
            .hero-title{
                /* border: 2px solid red; */
    
                width: 500px;
                font-size: 40px;
                color: #fff;
                text-shadow: 1px 1px 2px #000000;
                font-size: max(1rem,5vh,3rem);
                line-height: 1;
            }
            .hero-text-white{
                color: #fff;
                margin-top: 8px;
            }
            .buttons{
                /* border: 2px solid greenyellow; */
                
                height: 50px;
                width: 200px;
                background-color: #368aff;
                padding: 4px 20px;
                border-radius: 30px;
            }
            .buttons a{
                text-decoration: none;
            }
            /* .sam{
                border: 2px solid #FFDE59;
            } */
    }

/* -------------------------------------------About us */
.about{
    /* border: 2px solid red; */

    min-height: 100%;
    padding-block: 3rem;
    padding-inline: 3rem;
    color: #1e1e1e;
    overflow: hidden;

    }
            .about-col img{
                /* border: 2px solid rgb(106, 239, 244); */
               
                width:300px; 
                height:300px;
            }
                .about-title{
                    /* border: 2px solid #368aff; */
                    font-size: 34px;
                    color: #1e1e1e;
                }
                .hr{
                    height: 3px;
                    width: 100px;
                    background: #368aff;
                }                 
@media screen and (min-width:900px) {
    .about{
    /* border: 2px solid red; */

    min-height: 600px;
    padding-block: 5rem;
    color: #1e1e1e;
    overflow: hidden;

    }
            .about-col img{
                /* border: 2px solid rgb(106, 239, 244); */
               object-fit: cover;
               object-position: center;
                width: 400px; 
                height:400px;
            }

                .about-title{
                    /* border: 2px solid #368aff; */
                    font-size: 34px;
                    color: #1e1e1e;
                }
                .hr{
                    height: 3px;
                    width: 100px;
                    background: #368aff;
                }

} /*end of media query*/

/* ---------------------------------------- who we are  */
.profile{
    min-height: 600px;
    background: #EBF4FF;
    padding-block: 3rem;
    padding-inline: 3rem;
}
        .card-pic{
            /* border: 2px solid red; */
            height: 300px;
            width: 300px;
            position: relative;

        }
        .who-img{
            height: 100%;
            width: 100%;
        }
            .img-txt-holder{
                width: 100%;
                height: 80px;
                background: rgb(30, 30, 30,.4);
                overflow: hidden;
                position: absolute;
                bottom: 0;
                transition: all ease-out .3s;

            }
                .name{
                    line-height: 1;
                    color: #fff;
                    text-shadow: 2px 2px 2px #000000;    
                    padding: 5px 10px;           
                }
                .contact-holder a{
                    text-decoration: none;
                    color: #1e1e1e;
                }
                .contact-holder{
                    width: fit-content;
                    text-align: center;
                    background-color: #FFDE59;
                    border-radius: 5px;  
                    padding: 8px 24px; 
                    margin: 5px 6px 20px;                    
                }
                .img-txt-holder:hover {
                    height: 50%;

                }
                .hr-blue{
                    height: 3px;
                    width: 100px;
                    background: #FFDE59;
                }
    @media screen and (min-width:995px) {
            .profile{
                min-height: 600px;
                background: #EBF4FF;
                        
            }
                .card-pic{
                    /* border: 2px solid red; */
                        height: 350px;
                        width: 350px;
                        position: relative;
                }
                    .who-img{
                        height: 100%;
                        width: 100%;
                    }
                        .img-txt-holder{
                            width: 100%;
                            height: 100px;
                            background: rgb(30, 30, 30,.4);
                            overflow: hidden;
                            position: absolute;
                            bottom: 0;
                            transition: all ease-out .3s;

                        }
                            .name{
                                line-height: 1;
                                color: #fff;
                                text-shadow: 2px 2px 2px #000000;    
                                padding: 5px 10px;           
                            }
                                .contact-holder a{
                                    text-decoration: none;
                                    color: #1e1e1e;
                                }
                                .contact-holder{
                                    width: fit-content;
                                    text-align: center;
                                    background-color: #FFDE59;
                                    border-radius: 5px;  
                                    padding: 8px 24px; 
                                    margin: 5px 11px 10px;                    
                                }
            
                            .img-txt-holder:hover {
                                height: 45%;
            
                            }
                            .hr-blue{
                                height: 3px;
                                width: 100px;
                                background: #368aff;
                            }
    }

/* ----------------------------background blue section */
.bg-blue{
    height: 100%;
    background: #368aff;
    background-attachment: fixed;
    padding-block: 3rem;
}
    .txt-white{
        font-size: 28px;
        color: #fff;
    }
    .hr-yellow{
        height: 3px;
        width: 100px;
        background: #FFDE59;
        margin-bottom: 30px;
    }
        .items{
            height: 150px;
            width: 150px;
            /* border: 2px solid red; */
            display: inline-flex;
            justify-content: center;
        }
        .card{
            height: 150px;
            width: 200px;
            box-shadow: 0 5px 10px rgba(0,0,0,.2);
        }
        @media screen and (min-width:995px) {
            .bg-blue{
                height: 500px;
                background-color: #368aff;
                background-attachment: fixed;
                padding-block: 5rem;
            }
            .txt-white{
                font-size: 34px;
                color: #fff;
            }
            .hr-yellow{
                height: 3px;
                width: 100px;
                background: #FFDE59;
                margin-bottom: 35px;

            }
                .items{
                    height: 250px;
                    width: 400px;
                    /* border: 2px solid red; */
                }
                .card{
                    height: 250px;
                    width: 400px;
                    box-shadow: 0 5px 10px rgba(0,0,0,.2);
                }
        }

        /* card-text section */
            .card-img-top{
                position: relative;
                object-fit: cover;
                object-position: center;
                height:140px;
                width: 140px;
            }
            .card-img-top-1{
                position: relative;
                object-fit:cover;
                object-position: center;
                height: 100%;
                width: 100%;
            }
            .img-text{
                /* border: 2px solid green; */
        
                width: 100px;
                height: 110px;
        
                font-size: 1rem;
                line-height: 1.1;
                color: #fff;
                text-shadow: 2px 2px 2px #000000;
        
                position: absolute;
                bottom: -80px;
            }
            @media screen and (min-width:996px) {
                .card-img-top{
                    position: relative;
                    object-fit:cover;
                    object-position: center;
                    height: 250px;
                    width: 400px;
                }
                .card-img-top-1{
                    position: relative;
                    object-fit:cover;
                    object-position: center;
                    height: 100%;
                    width: 100%;
                }

                .img-text{
                    /* border: 2px solid green; */
            
                    width: 150px;
                    height: 110px;
            
                    font-size: 1.8rem;
                    line-height: 1.1;
                    color: #fff;
                    text-shadow: 2px 2px 2px #000000;
            
                    position: absolute;
                    bottom: -50px;
                }
            }
/* ------------------------------------ Gallery section */
.gal-holder{
    /* border: 2px solid red; */
    padding-block: 3rem;
}
    /* .cont{
        border: 2px solid salmon;
    } */
    .gal-items{
        height: 200px;
        width: 200px;
    }
        .gal-img{
            object-fit: cover;
            object-position: center 40%;
            height: 100%;
            width: 100%;
        }
    @media screen and (min-width:995px) {
        .gal-holder{
            /* border: 2px solid red; */
            height: 100%;
            padding-block: 5rem;
        }
            /* .cont{
                border: 2px solid red;
            } */
            .gal-items{
                height: 300px;
                width: 200px;
            }
                .gal-img{
                    object-fit: cover;
                    object-position: center;
                    height: 100%;
                    width: 100%;
                }
    }
/* -------------------------------------call to action */
.cta-section{
    /* border: 2px solid red; */

    height: 100%;
    padding: 3rem;
    background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6) ), url('/assets/printed-swan.webp');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}  
    .oca-holder{
        /* border: 2px solid salmon; */
        margin-top: 20px;
    }

@media screen and (min-width:996px) {
    .cta-section{
        /* border: 2px solid red; */
    
        height: 380px;
        padding: 5rem;
        background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6) ), url('/assets/printed-swan.webp');
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        background-attachment: fixed;
    }
        
        .oca-holder{
            /* border: 2px solid salmon; */
            margin-top: 20px;
        }
            /* .oca-items{
                border: 2px solid rebeccapurple;
            } */
}
/* -------------------------------------footer section */
.footer{
    height: 100%;
    color: #1e1e1e;
    background: #E4F0FF;
    padding: 3rem 0.2rem;
    overflow: hidden;
}
.row-holder{
    padding: 3rem;
}
    .col-items{
        display: inline-flex;
        justify-content: start;
        /* border: 2px solid red; */
    }
        .txt-title{
            width: 280px;
            font-size: 34px;
            line-height: 1.2;
        }
            .title{
                font-size: 28px;
            }
.blue-bg{
    /* border: 2px solid red; */

    height: 100%;
    color: #1e1e1e;
    background: #368aff;
    padding: 1rem 1rem 1rem 1rem;
    overflow: hidden;
    font-size: 12px;
}
@media screen and (min-width:996px) {
    .footer{
        height: 100%;
        color: #1e1e1e;
        background: #E4F0FF;
        padding: 3rem;
        overflow: hidden;
    }  
    .row-holder{padding: 3rem;}
        .col-items{
            display: inline-flex;
            justify-content: start;
            /* border: 2px solid red; */
        }
            .txt-title{
                width: 280px;
                font-size: 34px;
                line-height: 1.2;
            }
                .title{font-size: 28px;}
    
    .blue-bg{
        /* border: 2px solid red; */
    
        height: 100%;
        color: #1e1e1e;
        background: #368aff;
        /* padding: 1rem 1rem 1rem 1rem; */
        overflow: hidden;
        font-size: 14px;

    }
}


